---
import dayjs from 'dayjs'

export interface Props {
  post: any;
}
const { post } = Astro.props;
---

<a href={post.url} class="flex flex-row w-full h-auto bg-white border-b border-black shadow p-8">
    <div class="flex flex-col">
        <span class="text-xs uppercase font-thin">{dayjs(post.frontmatter.pubDate).format('MM-DD-YYYY')}</span>
        <h1 class="font-bold text-2xl">{post.frontmatter.title}</h1>
        <span class="text-md leading-none">Excerpt</span>
    </div>
</a>