---
const today = new Date();
---

<footer class="flex flex-row justify-between items-center space-x-1 text-center border-t border-black w-full h-10 py-4 md:py-0 px-4 md:px-16">
	<div class="flex justify-center items-center flex-row space-x-1 ml-4 pt-1">
		<span class="text-xs font-bold">&copy; {today.getFullYear()} </span>
		<span class="text-xs font-bold">All rights reserved.</span>
	</div>
	<div class="flex flex-col justify-center items-start leading-none text-xs text-left pt-1">
		<small class="uppercase font-black">Ikziriv</small>.
		<small class="uppercase font-thin -mt-2">Design & Development</small>
	</div>
</footer>

<style>
</style>