---
import HeaderLink from './HeaderLink.astro';
import IkzirivLogo from './IkzirivLogo.astro';
import * as CONFIG from '../../config';
---

<header class="flex flex-col md:flex-row justify-center md:justify-between items-center w-full h-auto md:h-20 border-b border-black py-0 px-0 md:px-16">
	<div class="flex flex-row justify-start items-center w-auto h-20 md:h-auto">
		<a class="flex flex-row space-x-1 items-center" href="/">
			<IkzirivLogo size={48} />
			<h1 class="font-black uppercase text-sm tracking-widest hidden">{CONFIG.SITE.title ?? 'Documentation'}</h1>
		</a>
		<div class="flex flex-row space-x-1 w-auto h-auto ml-8">
			<div class="flex justify-center items-center w-8 h-8 shadow bg-white">
				<span class="w-auto h-auto">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun" viewBox="0 0 16 16">
						<path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
					</svg>
				</span>
			</div>
			<div class="w-8 h-8 shadow bg-zinc-50"></div>
			<div class="w-8 h-8 shadow bg-zinc-100"></div>
			<div class="w-8 h-8 shadow bg-zinc-100/50"></div>
		</div>
    </div>
	<nav class="flex justify-center space-x-0 md:space-x-0 w-full md:w-auto h-auto border md:border-0 border-black">
		<HeaderLink class={`flex justify-center items-center text-sm border-l border-black h-20 w-24`} href="/article">Article</HeaderLink>
		<HeaderLink class={`flex justify-center items-center text-sm border-l border-black border-r h-20 w-24`} href="/contact">Contact</HeaderLink>
		<HeaderLink class={`flex justify-center items-center text-sm border-l border-r bg-black font-black border-black text-white h-20 w-24`} href="https://ikziriv.com" target={`_blank`}>Site</HeaderLink>
	</nav>
</header>

<style>
</style>