---
import { SITE } from '../config';
import HeadCommon from '../components/general/HeadCommon.astro';
import Footer from '../components/general/Footer.astro'

let title = 'Ikziriv | 404';
---

<html lang="en">
  <head>
    <HeadCommon />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
        name="description"
        property="og:description"
        content={SITE.description}
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>
        {title}
    </title>
  </head>

  <body class="bg-white text-black font-body leading-normal personality-casual">
	<div class="flex justify-center items-center w-full h-156 md:h-[36rem]">
      <div class="flex justify-center items-center w-full h-auto mx-auto px-3">
        <div class="flex flex-col md:flex-row items-center mx-auto text-center content px-2">
          <h1 class="text-8xl md:text-9xl mb-4 font-black max-w-sm mr-16 text-left">Error 404.</h1>
          <p class="max-w-sm text-left mt-4 md:mt-0">Not much to see here but the intro to <span class="uppercase font-black text-xs">Ikziriv</span>. <br> Don't wait for your life to be over. There are other pages.
            Go find one!</p>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>