---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<div class="grid grid-cols-12 w-full h-auto md:h-128">
		<div class="relative col-span-full md:col-span-6 flex justify-center items-center gap-0 w-full h-80 md:h-full bg-white border border-black px-8">
			<div class="flex flex-col justify-center items-start leading-none w-auto h-auto">
				<h1 class="text-8xl md:text-9xl font-black text-black">Get in</h1>
				<h1 class="text-8xl md:text-9xl font-black text-black md:-mt-8">Touch</h1>
			</div>
			<div class="absolute bottom-0 right-0 bg-black w-12 h-12"></div>
		</div>
		<div class="relative col-span-full md:col-span-6 flex justify-center items-center gap-0 w-full h-screen md:h-full">
			<div class="flex flex-col -space-y-2 w-auto h-auto">
				<span class="font-medium text-left max-w-sm mt-8">
					Behance
				</span>
				<span class="font-medium text-left max-w-sm mt-8">
					Dribbble
				</span>
				<span class="font-medium text-left max-w-sm mt-8">
					Instagram
				</span>
			</div>
			<div class="absolute inset-y-0 right-0 w-16 h-full bg-zinc-100 z-0"></div>
		</div>
	</div>
</Layout>

<style>
</style>
